@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }
  html header, body header {
    width: 100%;
    height: 2.585rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #39C894; }
    html header img, body header img {
      width: 2.25rem;
      height: 100%; }
    html header p, body header p {
      font-size: "仿宋体";
      font-size: 0.8rem; }
    html header .guan, body header .guan {
      text-align: center;
      width: 110%;
      height: 0.85rem;
      background: #2BB280;
      border-radius: 2rem; }
      html header .guan .span1, body header .guan .span1 {
        color: #FFFFFF; }
      html header .guan .span2, body header .guan .span2 {
        color: #EED215; }
  html .i_sOusuo, body .i_sOusuo {
    padding: 0.1rem;
    width: 90%;
    margin: 0 auto; }
    html .i_sOusuo input, body .i_sOusuo input {
      width: 79%;
      height: 1.49rem;
      border: 2px solid #39C894; }
    html .i_sOusuo button, body .i_sOusuo button {
      width: 2.665rem;
      height: 1.6rem;
      background: #39C894;
      border: 2px solid #39C894; }
  html .zhongjian, body .zhongjian {
    margin-top: 0.4rem;
    width: 100%;
    height: 0.4rem;
    background: #f4f4f4; }
  html .qian, body .qian {
    margin: 0 auto;
    width: 95%;
    height: 1.6rem;
    border: 1px solid #39C894;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    html .qian p, body .qian p {
      font-size: 0.7rem;
      font-weight: 100;
      color: #000; }
  html ul, body ul {
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    html ul li, body ul li {
      text-align: center;
      width: 2.24rem;
      line-height: 2.24rem;
      height: 2.24rem;
      border-radius: 50%; }
    html ul span, body ul span {
      width: 100%;
      font-size: 0.5rem;
      font-weight: 100; }
    html ul .icon, body ul .icon {
      border: 1px solid #39C894;
      font-size: 1.23rem;
      color: #39C894;
      border-radius: 50%; }
  html .but1, body .but1 {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    background: #FFFFFF;
    color: #39C894;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-weight: 100;
    width: 95%;
    height: 1.5rem;
    border: 1px solid #39C894;
    text-align: center; }
  html .xiaoguo, body .xiaoguo {
    margin: 0.1rem;
    width: 30%;
    height: 1.25rem;
    display: flex;
    justify-content: space-around; }
    html .xiaoguo .zhuanxiu, body .xiaoguo .zhuanxiu {
      display: inline-block;
      width: 0.2rem;
      height: 100%;
      background: #2bb281; }
    html .xiaoguo span, body .xiaoguo span {
      font-weight: 100;
      font-size: 0.7rem;
      color: #000; }
  html .gonglue, body .gonglue {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    html .gonglue img, body .gonglue img {
      width: 30%;
      height: 30%; }
    html .gonglue .yan, body .gonglue .yan {
      width: 65%;
      height: 4rem; }
      html .gonglue .yan p, body .gonglue .yan p {
        font-size: 0.7rem;
        font-weight: 100; }
      html .gonglue .yan .gang, body .gonglue .yan .gang {
        width: 95%;
        display: flex;
        justify-content: space-between; }
        html .gonglue .yan .gang p, html .gonglue .yan .gang span, body .gonglue .yan .gang p, body .gonglue .yan .gang span {
          color: #999; }
  html hr, body hr {
    width: 96%;
    margin: 0 auto;
    border: 1px solid #F4F4F4; }
  html .huan, body .huan {
    width: 96%;
    height: 1.5rem;
    border: 1px solid #F4F4F4;
    color: #39C894;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem; }
  html #p, body #p {
    font-weight: 100;
    text-align: center;
    margin-top: 0.9rem;
    font-size: 0.6rem;
    color: #333; }
  html .p, body .p {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    html .p .icon-hot-line, body .p .icon-hot-line {
      color: #39C894;
      font-size: 0.6rem; }
    html .p .fuwu, body .p .fuwu {
      font-size: 0.6rem;
      font-weight: 100; }
  html .cu, body .cu {
    margin-top: -1rem;
    width: 100%; }
    html .cu ul, body .cu ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      html .cu ul li, body .cu ul li {
        color: #333;
        font-size: 0.5rem; }
      html .cu ul li:hover, body .cu ul li:hover {
        color: #39C894; }
  html #X, body #X {
    width: 100%;
    height: 2.65rem;
    background: #000;
    opacity: 80%;
    display: flex;
    justify-content: space-between; }
    html #X .img1, body #X .img1 {
      width: 1.3rem;
      height: 1.3rem; }
    html #X .img2, body #X .img2 {
      width: 9rem; }
    html #X button, body #X button {
      display: block;
      width: 4.375rem;
      height: 1.25rem;
      font-size: 0.6rem;
      color: #FFFFFF;
      background: #FEB505;
      border: 0;
      border-radius: 1rem; }

/*# sourceMappingURL=zhuangxiugonglue.css.map */
