@charset "utf-8";

*{margin: 0;
padding: 0;
list-style: none;}

html,body{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height:4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toubu{
            height:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                text-align: center;
                margin: 1rem;
                color:#999999;
                text-decoration: none;
                p{
                    color: #999;
                }
            }
        }
        img{
            height: 100%;
        }
    }
    banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
    section{
        width: 100%;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 2rem;
            li{
                text-align: center;
                width: 5rem;
                line-height: 5rem;
                height:5rem;
                border-radius: 50%;
                position: relative;
            }
            span{
                position:absolute;
                width: 100%;
                height: 2rem;
                top:3.5rem;
                left: 0rem;
            }
            .icon{
                font-size: 3.5rem;
                color: #FFFFFF;
            }
            .icon-case{
                background:#39c894;
            }
            .icon-pics{
                background:#feb505;
            }
            .icon-designer{
                background:#eed215 ;
            }
            .icon-construction-site{
                background: #00b2b2;
            }
            .icon-decorate{
                background: #1b9af7;
            }
            .icon-loans{
                background: #7b72e9;
            }
            .icon-pencle{
                background: #ff4351;
            }
            .icon-ten{
                background: #fe8864;
            }
            .icon{
                border-radius: 50%;
            }
        }
        .zhong{
            width: 100%;
            height: 0.9rem;
            background:rgb(244,244,244);
            margin-top: 3rem;
        }
        .quanwu{
            margin-top: 1.6rem;
            width: 90%;
            height:2.5rem;
            display: flex;
            justify-content: space-around;
            .zhuanxiu{
                display: inline-block;
                width:0.25rem;
                height: 100%;
                background: #2bb281;
            }
            span{
                font-weight: 100;
                font-size: 1.8rem;
                color: #000;
            }
             ul{
              width: 100%;
              height:100%;
              margin-top: 0.1rem;
              li{
                  font-size: 1.2rem;
                  width: 100%;
                  color: #999;
              }  
            }
        }
        .tu{
            margin-top: 1.6rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 90%;
            }
        }
        .zen{
            margin-top: 1.8rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .biao{
                .icon{
                    background: #FFFFFF;
                    color: #39c894;
                    border-radius: 50%;
                }
                span{
                    font-size: 1.4rem;
                    color: #000;
                }
            }
        }
        .zhon{
            width: 100%;
            height: 0.9rem;
            background:rgb(244,244,244);
            margin-top: 1.8rem;
        }
        input{
            display:block;
            margin: 0 auto;
            width: 29.2rem;
            height: 3.5rem;
            border: 1px solid #eaeaea;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            color: #cacaca;
        }
        input:nth-of-type(4){
            background: #FEB505;
            color: #FFFFFF;
            font-size: 1.8rem;
        }
        .xiaoguo{
             margin: 1.5rem;
             width: 30%;
             height:2.5rem;
             display: flex;
             justify-content: space-around;
             .zhuanxiu{
                display: inline-block;
                width:0.25rem;
                height: 100%;
                background: #2bb281;
            }
            span{
                font-weight: 100;
                font-size: 1.8rem;
                color: #000;
            }
        }
        .shejishi{
            ul{
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                width: 100%;
                height: 100%;
                img{
                    width: 90%;
                    height:70%;
                }
                p{
                    font-size: 1.8rem;
                    color: #000;
                    font-weight: 100;
                    margin-top: -2rem;
                }
                button{
                    width:6rem;
                    height:2.5rem;
                    background: #39C894;
                    color: #FFFFFF;
                    border:0px;
                    border-radius: 0.3rem;
                    font-size: 2rem;
                }
            }
        }
      }
      .dade{
          width: 95%;
          margin: 0 auto;
          height:3.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          .xiaode{
              width:50%;
              height: 100%;
              line-height: 3.5rem;
              text-align: center;
              border: 1px solid #EAEAEA;
              span{
                  color: #39C894;
                  font-size: 1.4rem;
              }
          }
      }
      #app{
          width: 100%;
          display: flex;
          justify-content: center;
          img{
              width: 90%;
              height: 100%;
          }
      }
      .woshi{
          width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          img{
              margin: 0.1rem;
              width: 50%;
              height: 100%;
          }
      }
      .nimu{
          width:50%;
          height:3rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span:nth-of-type(2){
              border-radius:0.3rem;
              color: #FFFFFF;
              background: #39C894;
          }
          span{
              font-size: 1.4rem;
          }
      }
      .gonglue{
          width: 100%;
          display: flex;
          justify-content: space-around;
          padding: 1rem;
          img{
              width: 30%;
              height: 30%;
          }
          .yan{
              width:65%;
              height:8rem;
              h3{
                  font-size: 2rem;
              }
              .gang{
                  width: 95%;
                  display: flex;
                  justify-content: space-between;
                  p,span{
                      color: #999;
                  }
              }
          }
      }
      #p{
          font-weight: 100;
          text-align: center;
          margin-top: 1.8rem;
          font-size: 1.55rem;
          color: #333;
      }
      .p{
          margin-top: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-hot-line{
              color: #39C894;
              font-size: 1.8rem;
          }
          .fuwu{
              font-size: 1.4rem;
              font-weight: 100;
          }
      }
      .cu{
          margin-top: -2rem;
          width: 100%;
          ul{
              display: flex;
              justify-content: space-around;
              align-items: center;
              li{
                  color: #333;
                  font-size: 1.5rem;
              }
              li:hover{
                  color: #39C894;
              }
          }
      }
      .X{
          width: 100%;
          height: 5.3rem;
          background: #000;
          opacity: 80%;
          display: flex;
          justify-content: space-between;
          .img1{
              width:3.5rem;
              height: 3rem;
          }
          .img2{
              width: 18rem;
          }
          button{
              display: block;
              width: 8.75rem;
              height: 2.5rem;
              font-size: 1.4rem;
              color: #FFFFFF;
              background: #FEB505;
              border: 0;
              border-radius:2rem;
          }
      }
    }
}
