* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
}
html header, body header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html header .toubu, body header .toubu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html header .toubu a, body header .toubu a {
  text-align: center;
  margin: 0.5rem;
  color: #999999;
  text-decoration: none;
}
html header .toubu a p, body header .toubu a p {
  color: #999;
}
html header img, body header img {
  height: 100%;
}
html header p, body header p {
  font-size: 0.75rem;
  color: #000;
  font-weight: 100;
}
html hr, body hr {
  border: 1px solid #F4F4F4;
}
html section, body section {
  margin-top: 0.768rem;
}
html section .chan, body section .chan {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
}
html section .chan img, body section .chan img {
  width: 3.4rem;
  height: 3.4rem;
}
html section .chan .chong p, body section .chan .chong p {
  font-weight: 100;
}
html section .chan .chong .ppp, body section .chan .chong .ppp {
  color: #999;
}
html section .chan .chong .youxiu, body section .chan .chong .youxiu {
  display: flex;
}
html section .chan .chong .youxiu .yyy, body section .chan .chong .youxiu .yyy {
  margin-left: 0.46rem;
  background: #39C894;
  color: #FFFFFF;
}
html section .chan .chong .youxiu .qqq, body section .chan .chong .youxiu .qqq {
  color: #FEB505;
}
html section .chan .chong .zuop, body section .chan .chong .zuop {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
html section .chan .chong p, body section .chan .chong p {
  font-size: 0.55rem;
}
html section #ul, body section #ul {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section #ul li, body section #ul li {
  text-align: center;
  width: 2.13rem;
  line-height: 2.13rem;
  height: 2.13rem;
  border-radius: 50%;
}
html section #ul span, body section #ul span {
  width: 100%;
  height: 1rem;
}
html section #ul .icon, body section #ul .icon {
  font-size: 1.23rem;
  color: #FFFFFF;
  border-radius: 50%;
}
html section #ul .icon-pencle, body section #ul .icon-pencle {
  background: #FFFFFF;
  color: #1B9AF7;
  border: 1px solid #1B9AF7;
}
html section #ul .icon-share, body section #ul .icon-share {
  background: #FFFFFF;
  color: #FF4351;
  border: 1px solid #FF4351;
}
html section #ul .icon-thumb-up, body section #ul .icon-thumb-up {
  background: #FFFFFF;
  color: #FEB505;
  border: 1px solid #FEB505;
}
html section .grjj, body section .grjj {
  margin: 0 auto;
  width: 95%;
  margin-top: 2rem;
}
html section .grjj p, body section .grjj p {
  font-size: 0.6rem;
}
html section .grjj p span, body section .grjj p span {
  color: #999;
}
html section .zhongjian, body section .zhongjian {
  margin-top: 0.4rem;
  width: 100%;
  height: 0.4rem;
  background: #f4f4f4;
}
html section .xiaoguo, body section .xiaoguo {
  margin: 0 auto;
  width: 97%;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.35rem;
}
html section .xiaoguo .span1, body section .xiaoguo .span1 {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.5rem;
  color: #999;
}
html section .xiaoguo .bao, body section .xiaoguo .bao {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .xiaoguo .zhuanxiu, body section .xiaoguo .zhuanxiu {
  display: inline-block;
  width: 0.1rem;
  height: 100%;
  background: #2bb281;
}
html section .xiaoguo span, body section .xiaoguo span {
  font-weight: 100;
  font-size: 0.6rem;
  color: #000;
}
html #tup, body #tup {
  margin-top: -2.5rem;
}
html .ouwen, body .ouwen {
  margin: 0 auto;
  width: 95%;
  height: 5rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}
html .ouwen .wenh, body .ouwen .wenh {
  width: 48%;
}
html .ouwen .wenh img, body .ouwen .wenh img {
  width: 100%;
  height: 100%;
}
html .ouwen .wenh p, body .ouwen .wenh p {
  text-align: center;
  font-size: 0.7rem;
  color: #000;
}
html .ouwen .wenh ul, body .ouwen .wenh ul {
  display: flex;
  justify-content: space-around;
}
html .ouwen .wenh ul li, body .ouwen .wenh ul li {
  text-align: center;
  font-size: 0.4rem;
  color: #999;
}
html #p, body #p {
  font-weight: 100;
  text-align: center;
  margin-top: 0.9rem;
  font-size: 0.6rem;
  color: #333;
}
html .cu, body .cu {
  margin-top: 0.7rem;
  width: 100%;
}
html .cu ul, body .cu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html .cu ul li, body .cu ul li {
  color: #333;
  font-size: 0.5rem;
}
html .cu ul li:hover, body .cu ul li:hover {
  color: #39C894;
}
html .zhongjian, body .zhongjian {
  margin-top: 5rem;
  width: 100%;
  height: 0.4rem;
  background: #f4f4f4;
}
html .p1, body .p1 {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: gray;
  font-size: 0.6rem;
  border: 1px solid #F4F4F4;
  margin-top: 0.5rem;
}
html .p, body .p {
  margin-top: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .p .icon-hot-line, body .p .icon-hot-line {
  color: #39C894;
  font-size: 0.6rem;
}
html .p .fuwu, body .p .fuwu {
  font-size: 0.6rem;
  font-weight: 100;
}

/*# sourceMappingURL=sjsxq.css.map */
