* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
}
html header, body header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html header .toubu, body header .toubu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html header .toubu a, body header .toubu a {
  text-align: center;
  margin: 0.5rem;
  color: #999999;
  text-decoration: none;
}
html header .toubu a p, body header .toubu a p {
  color: #999;
}
html header img, body header img {
  height: 100%;
}
html header p, body header p {
  font-size: 0.75rem;
  color: #000;
  font-weight: 100;
}
html section .guan, body section .guan {
  margin-top: 0.5rem;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .guan p, body section .guan p {
  font-size: 0.59rem;
  font-weight: 100;
  color: #000;
}
html section .guan span, body section .guan span {
  background: #39C894;
  color: #FFFFFF;
}
html section .hx, body section .hx {
  margin-top: 0.5rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .hx p, body section .hx p {
  font-size: 0.6rem;
  font-weight: 100;
}
html section .hx p span, body section .hx p span {
  font-size: 0.512rem;
  color: #999;
}
html section .gk, body section .gk {
  margin-top: 0.5rem;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .gk p, body section .gk p {
  font-size: 0.5rem;
  font-weight: 100;
}
html section .gk span, body section .gk span {
  font-size: 0.512rem;
  color: #999;
}
html section .pl, body section .pl {
  margin: 0 auto;
  width: 95%;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
html section .pl .btn1, html section .pl .btn2, body section .pl .btn1, body section .pl .btn2 {
  width: 47.5rem;
  height: 1.6rem;
  border: 1px solid #999;
  background: #FFFFFF;
}
html section .pl .btn1 p, html section .pl .btn2 p, body section .pl .btn1 p, body section .pl .btn2 p {
  font-size: 0.7rem;
  font-weight: 100;
}
html section .pl .btn1 p, body section .pl .btn1 p {
  color: #1B9AF7;
}
html section .pl .btn2 p, body section .pl .btn2 p {
  color: #39C894;
}
html section .zhong, body section .zhong {
  margin-top: 0.768rem;
  width: 100%;
  background: #EAEAEA;
}
html section .zhong .sjs, body section .zhong .sjs {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .zhong .sjs p, body section .zhong .sjs p {
  margin-top: 0.768rem;
  font-size: 0.59rem;
  font-weight: 100;
}
html section .zhong .sjs p a, body section .zhong .sjs p a {
  color: #39C894;
}
html section .zhong .cg, body section .zhong .cg {
  margin: 0 auto;
  width: 95%;
  height: 12rem;
  border: 1px solid #F4F4F4;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin-top: 0.7rem;
}
html section .zhong .cg .jd, body section .zhong .cg .jd {
  width: 80%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html section .zhong .cg .jd p, body section .zhong .cg .jd p {
  width: 0.96rem;
  height: 0.96rem;
  background: #39C894;
  border-radius: 50%;
}
html section .zhong .cg .jd span, body section .zhong .cg .jd span {
  text-align: center;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.59rem;
}
html section .zhong .cg .jd .span1, body section .zhong .cg .jd .span1 {
  width: 5rem;
  background: #F4F4F4;
}
html section .zhong .cg .jd .span2, body section .zhong .cg .jd .span2 {
  background: #39C894;
  color: #FFFFFF;
}
html section .zhong .cg .jd .span3, body section .zhong .cg .jd .span3 {
  background: #FEB505;
  color: #FFFFFF;
}
html section .zhong .gc, body section .zhong .gc {
  width: 80%;
  margin: 0 auto;
  height: 10rem;
  margin-left: 3rem;
}
html section .zhong .gc .img .img1, html section .zhong .gc .img .img2, body section .zhong .gc .img .img1, body section .zhong .gc .img .img2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
html section .zhong .gc .img .img1 img, html section .zhong .gc .img .img2 img, body section .zhong .gc .img .img1 img, body section .zhong .gc .img .img2 img {
  width: 4rem;
  height: 4.5rem;
}
html section .zhong .gc p, body section .zhong .gc p {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.6rem;
  font-weight: 100;
}
html section #p, body section #p {
  font-weight: 100;
  text-align: center;
  margin-top: 0.9rem;
  font-size: 0.6rem;
  color: #333;
}
html section .p, body section .p {
  margin-top: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
html section .p .icon-hot-line, body section .p .icon-hot-line {
  color: #39C894;
  font-size: 0.6rem;
}
html section .p .fuwu, body section .p .fuwu {
  font-size: 0.6rem;
  font-weight: 100;
}
html section .cu, body section .cu {
  margin-top: 0.5rem;
  width: 100%;
}
html section .cu ul, body section .cu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html section .cu ul li, body section .cu ul li {
  color: #333;
  font-size: 0.5rem;
}
html section .cu ul li:hover, body section .cu ul li:hover {
  color: #39C894;
}
html section #X, body section #X {
  width: 100%;
  height: 2.65rem;
  background: #000;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
}
html section #X .img1, body section #X .img1 {
  width: 1.3rem;
  height: 1.3rem;
}
html section #X .img2, body section #X .img2 {
  width: 9rem;
}
html section #X button, body section #X button {
  display: block;
  width: 4.375rem;
  height: 1.25rem;
  font-size: 0.6rem;
  color: #FFFFFF;
  background: #FEB505;
  border: 0;
  border-radius: 1rem;
}

/*# sourceMappingURL=gdxqy.css.map */
